* {
  font-family: "Akshar", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: #eeeeee;
}
html {
  font-size: 200%;
}
.nav-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}
.footer-1 {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-1 {
  text-align: center;
}
.nav-links {
  font-size: 0.7rem;
}
